<%= form_for(message, url: order_messages_path(), local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <p>email: <%= current_user.email %> | id: <%= current_user.id %></p>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <%= form.hidden_field :order_id, :value => message.order_id %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
