<p id="notice"><%= notice %></p>

<h1>Orders</h1>


    <% @orders.each do |order| %>

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <%= image_tag order.image_for_order if order.image_for_order? %>
          <div class="card-body">
          <h5 class="card-title">Title: <%= order.title %></h5>
          <p><%= link_to 'More Info', order %></p>
          <p class="card-text">Description: <%= order.description %></p>
          <p class="card-text">Price: <%= order.price %></p>
          <p class="card-text">Current status: <%= order.status.name %></p>

  </div>

       
    
  
    <% end %>

<br>


