<p id="notice"><%= notice %></p>

<h1>Orders</h1>


    <% @orders.each do |order| %>

      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
          <h5 class="card-title"><%= order.title %></h5>
          <p class="card-text"><%= order.description %></p>
          <p class="card-text"><%= order.price %></p>

  </div>
    
        
        
        
        <%= link_to 'Show', order %>
        <%= link_to 'Edit', edit_order_path(order) %>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
  
    <% end %>

<br>


