<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<div class="my-flex-container">

    <% @orders.each do |order| %>






      <div class="card" style="width: 18rem;">
        <div class="card-img-top">
          <%= image_tag order.image_for_order.url(:thumb), class:"card-img-top" if order.image_for_order? %>
            <br />
            <br />
          <%= image_tag order.painted_picture.url(:thumb), class:"card-img-top" if order.painted_picture? %>

        </div> 

          <div class="card-body">
            <h4 class="card-title">Title: <%= order.title %> | id: <%= order.id %></h4> 
            <p class="card-text">Сustomer: <%= order.user.email %></p>
            <p class="card-text">Description: <%= order.description %></p>
             <% if order.price %>
              <p class="card-text">Price: <%= number_to_currency(order.price) %></p>
              <% else %>
              <p>Not rated yet</p>
            <% end %>
            <p class="card-text">Current status: <%= order.status.name %></p>
          </div>

          <p><%= link_to 'More Info', order, class:"btn"  if user_signed_in?%> </p>

          <hr />
       </div>

    <% end %>
    </div>


