<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %> | <%= link_to 'Edit', edit_order_path(@order) %> 	
</p>

<%= image_tag @order.image_for_order.url(:large) if @order.image_for_order? %>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@order.price)%>
</p>

<p>
  <strong>Current status:</strong>
  <%= @order.status.name%>
</p>



