<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %></strong>
  <%= @order.title %>
</p>

<%= image_tag @order.image_for_order.url(:large) if @order.image_for_order? %>

<p>
  <strong><%= t('.description') %></strong>
  <%= @order.description %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= @order.price %>
</p>

<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %>