<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %> 
</p> 
	<% if user_signed_in? && current_user.id == @order.user_id %>
  		<p>
	  		<%= link_to 'Edit', edit_order_path(@order) %>
	  		|
	 		<%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
 		</p>  
  	<% end %>

<%= image_tag @order.image_for_order.url(:large) if @order.image_for_order? %>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@order.price)%>
</p>

<p>
  <strong>Current status:</strong>
  <%= @order.status.name%>
</p>



