<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %> 
</p> 
	<% if user_signed_in? && current_user.id == @order.user_id && @order.status_id < 2 %>
  		<p>
	  		<%= link_to 'Edit', edit_order_path(@order) %>
	  		|
	 		<%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
 		</p>  
  	<% end %>

<%= image_tag @order.image_for_order.url(:large) if @order.image_for_order? %>

<%= image_tag @order.painted_picture.url(:large) if @order.painted_picture? %>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<% if @order.price %>
  <p> 
    <strong>Price:</strong>
    <%= number_to_currency(@order.price)%>
  </p>
<% else %>
    <p>Not rated yet</p>
<% end %>

<p>
  <strong>Current status:</strong>
  <%= @order.status.name%>
</p>



<% if user_signed_in? && current_user.id == @order.user_id && @order.status_id == 2%>
	<p>Your order was raited</p>
	<p>If you agree with pay, <%= link_to 'Edit', edit_order_path(@order) %> status of your order to work</p>

<% elsif  user_signed_in? && current_user.id == @order.user_id && @order.status_id == 4%>
	<p>Your order was painted</p>
	<p><%= link_to 'Edit', edit_order_path(@order) %> status When you paid order</p>
<% end %>




