<!DOCTYPE html>
<html>
  <head>
    <title>ArtistShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="for_flash">
      <% flash.each do |name, message|%>
        <p> <% message %> </p>
      <% end %>
    </div>

    <div class="container">
      <header>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/">All orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders/new">Add new order</a>
        </li>
      </ul>
      
    </header>

    <%= yield %>
  </div>
  </body>
</html>
