<!DOCTYPE html>
<html>
  <head>
    <title>ArtistShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">     
      <header>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/"><%= t('.all_orders') %></a>
          </li>
          <li class="nav-item">
            <%= link_to t('.new_order'), new_order_path , class:"nav-link" %>
          </li>

          <% if user_signed_in? %>
               <li class="nav-item">
                  <%= link_to t('.my_orders'), user_path(current_user) , class:"nav-link" %>
               </li>

              <li class="nav-item">
                <%= link_to t('.logout') + " - #{current_user.email}", destroy_user_session_path, :method => :delete  , class:"nav-link" %>
              </li>
          <% else %>
              <li class="nav-item">
                <%= link_to t('.login'), new_user_session_path , class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('.registaration'), new_user_registration_path , class:"nav-link" %>
              </li>
          <% end %>
        </ul>
    </header>

    <div class="for_flash">
      <% flash.each do |name, message|%>
        <p> <% message %> </p>
      <% end %>
    </div>

    <%= yield %>

  </div>
  </body>
</html>
